# Скачивание данных по криптовалютам

In [6]:
import requests
import pandas as pd

In [7]:
def get_crypto_price(symbol, exchange, start_date = None):
    api_key = 'YOUR API KEY'
    api_url = f'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol={symbol}&market={exchange}&apikey={api_key}'
    raw_df = requests.get(api_url).json()
    df = pd.DataFrame(raw_df['Time Series (Digital Currency Daily)']).T
    df = df.rename(columns = {'1a. open (USD)': 'open', '2a. high (USD)': 'high', '3a. low (USD)': 'low', '4a. close (USD)': 'close', '5. volume': 'volume'})
    for i in df.columns:
        df[i] = df[i].astype(float)
    df.index = pd.to_datetime(df.index)
    df = df.iloc[::-1].drop(['1b. open (USD)', '2b. high (USD)', '3b. low (USD)', '4b. close (USD)', '6. market cap (USD)'], axis = 1)
    if start_date:
        df = df[df.index >= start_date]
    return df

btc = get_crypto_price(symbol = 'BTC', exchange = 'USD', start_date = '2019-01-01')
btc

                open      high       low     close        volume
2019-02-10   3665.18   3684.99   3609.76   3680.06  23250.602634
2019-02-11   3679.75   3684.90   3615.53   3631.05  24954.614571
2019-02-12   3631.05   3667.60   3582.34   3631.46  29479.598230
2019-02-13   3631.51   3670.00   3591.75   3609.40  25773.997648
2019-02-14   3608.34   3626.40   3568.11   3590.56  21753.501261
...              ...       ...       ...       ...           ...
2021-11-01  61299.81  62437.74  59405.00  60911.11  44687.666720
2021-11-02  60911.12  64270.00  60624.68  63219.99  46368.284100
2021-11-03  63220.57  63500.00  60382.76  62896.48  43336.090490
2021-11-04  62896.49  63086.31  60677.01  61395.01  35930.933140
2021-11-05  61395.01  61489.99  61059.79  61127.71    660.895610

[1000 rows x 5 columns]

In [4]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: lxml in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (from pandas_datareader) (4.6.1)
Requirement already satisfied: pandas>=0.23 in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (from pandas_datareader) (1.1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.25.11)
Requirement already satisfied: numpy>=1.15.4 in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\svetlana.medvedeva\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)

В web.DataReader('LTC-USD', 'yahoo', start, end) указываете криптовалюту и в какой валюте цена (в данном примере LTC в долларах), устанавливаете нужные Вам даты начала и окончания периода времени за который скачиваете.

In [5]:
import pandas_datareader as web
import datetime as dt

start = dt.datetime(2010,1,1)
end = dt.datetime.now()

ltc = web.DataReader('LTC-USD', 'yahoo', start, end)
ltc

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-09-16,5.170770,4.965950,5.085890,5.058550,3.071840e+06,5.058550
2014-09-17,5.065430,4.579960,5.065430,4.685230,4.569260e+06,4.685230
2014-09-18,4.755820,4.254350,4.687290,4.327770,3.917450e+06,4.327770
2014-09-19,4.616080,4.202190,4.329200,4.286440,5.490660e+06,4.286440
2014-09-20,4.300130,4.154990,4.263070,4.245920,2.931220e+06,4.245920
...,...,...,...,...,...,...
2021-10-30,194.932236,187.331711,190.443848,191.816376,2.072794e+09,191.816376
2021-11-01,200.491440,188.389648,192.045029,197.554993,2.301983e+09,197.554993
2021-11-02,204.241562,195.238403,197.625671,200.724686,2.197206e+09,200.724686
2021-11-03,209.023285,197.854935,200.718933,207.110138,2.526891e+09,207.110138
2021-11-05,203.042206,199.539902,202.644348,200.468796,2.082738e+09,200.468796